<%inherit file="app_base.htm" />

<%block name="center">
    <div class="center">
        <h2>Frequently Asked Questions</h2><br/>

        <h3>How is this different from an Apple Watch or SmartWatch?</h3>
        Its only function is to wake you up, silently. It will also get you out of bed!

        <h3>Do you like oversleeping or feeling tired during the day?</h3>
        Buy the let them sleep band!

        <h3>Does your phone alarm ever wake up your spouse/roomate/co-sleeping baby?</h3>
        Buy the let them sleep band!
    </div>
</%block>

