<%inherit file="app_base.htm" />

<%block name="content">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-7 centered" style="margin-top: -625px;">
          <h1 style="z-index:1000" class="lightgrey">Welcome to FOMO</h1>
          <h2 style="z-index:1000" class="lightgrey">(Fear of Missing Orchestra)</h2>
          <a type="button" class="btn aButton" href="/catalog/index/">Shop Now</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 centered">
          <h2 id="mainContent ">Family Oriented Music Organization</h2>
          <h3 class="font_md">
            Family Oriented Music Organization is our real name, but we do understand that most of you
            have a "Fear of Missing Orchestra" like we do. That's why we have over 100 different kinds of instruments for you to enjoy. From the smallest piccolo
            to massive tubas, our shop is a musicians dreamland. Your sensitive musician's fingers can
            shuffle through multiple varieties of sheet music and test drive any of our guitars,
            saxophones, or recorders. So what are you waiting for? <a>Click here</a> to visit our
            online shop or come on into 1553 S Rockin Robin Blvd, Chicago, IL during regular
            business hours

          </h3>
        </div>
      </div>
</%block>

